$color-black: #000000;
$color-white: #ffffff;

$color-sky-50: #f0f9ff;
$color-sky-100: #def2fe;
$color-sky-200: #b8e6fe;
$color-sky-300: #74d4ff;
$color-sky-400: #00bcff;
$color-sky-500: #0ba6f4;
$color-sky-600: #0084d1;
$color-sky-700: #0069a8;
$color-sky-800: #00598a;
$color-sky-900: #024a70;
$color-sky-950: #052f4a;

$color-red-50: #fef2f2;
$color-red-400: #ff6467;

$color-background: $color-white;
$color-primary: $color-sky-400;
$color-text: $color-sky-950;
$color-on-text: $color-sky-50;
$color-on-primary: $color-sky-50;
$color-danger: $color-red-400;
$color-on-danger: $color-red-50;
$color-active: $color-sky-700;
$color-placeholder: #969696;
$color-disabled: #dddddd;
