$text-size-xs: 8px;
$text-size-sm: 10px;
$text-size-base: 12px;
$text-size-lg: 14px;
$text-size-xl: 16px;

$text-weight-thin: 100;
$text-weight-light: 300;
$text-weight-normal: 400;
$text-weight-bold: 700;
