$text-size-xs: 8px;
$text-size-sm: 16px;
$text-size-base: 18px;
$text-size-lg: 20px;
$text-size-xl: 22px;

$text-weight-thin: 100;
$text-weight-light: 300;
$text-weight-normal: 400;
$text-weight-medium: 500;
$text-weight-bold: 700;
