$text-size-xs: 14px;
$text-size-sm: 16px;
$text-size-base: 18px;
$text-size-lg: 20px;
$text-size-xl: 22px;
$text-size-2xl: 24px;
$text-size-3xl: 30px;
$text-size-4xl: 36px;
$text-size-5xl: 40px;

$text-weight-thin: 100;
$text-weight-light: 300;
$text-weight-normal: 400;
$text-weight-medium: 500;
$text-weight-bold: 700;
