.list_item {
  padding: 2px 10px;

  & > span {
    display: grid !important;
    grid-template-columns: auto 1fr auto;
    gap: 10px;

    .data_name {
      font-size: $text-size-base;
      font-weight: $text-weight-medium;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .created_at {
      font-size: $text-size-xs;
      font-weight: $text-weight-normal;
    }
  }
}

.icon_button {
  box-sizing: content-box;
  width: 30px;
  height: 30px;
  padding: 5px;

  &[data-loading='true'] {
    animation: glow 1s ease-in-out infinite;
  }
}

@keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
