.control_panel {
  padding: 20px 0;

  .timer {
    padding: 10px;
    font-size: $text-size-lg;
  }

  .buttons {
    margin-inline: auto;
    padding: 10px 0;
    width: 300px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px 0;

    .trigger {
      grid-column: 2;
    }
  }
}
