.list_item {
  width: 100%;
  padding: 10px 15px;

  font-size: $text-size-base;
  font-weight: $text-weight-bold;
  background-color: $color-background;

  border-radius: $radius-md;

  display: flex;
  align-items: center;

  .content {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: $color-text;

    display: flex;
    align-items: center;
    gap: 10px;
  }

  .link {
    color: $color-text;
  }

  &[data-disabled='true'] {
    color: $color-on-disabled;
    background-color: $color-disabled;

    .content {
      color: $color-on-disabled;
    }

    .link {
      color: $color-on-disabled;
    }
  }
}
