.files {
  .list_item {
    & > span {
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 10px;

      .data_name {
        font-size: $text-size-base;
        font-weight: $text-weight-medium;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .created_at {
        font-size: $text-size-xs;
        font-weight: $text-weight-normal;
      }
    }
  }
}
