.card {
  display: grid;
  gap: 20px;
}

.error {
  color: $color-error;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.Field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.Label {
  font-size: $text-size-base;
  line-height: $text-size-base * 1.5;
  font-weight: 500;
  color: $color-sky-900;
}

.Input {
  box-sizing: border-box;
  padding-left: 0.875rem;
  margin: 0;
  border: 1px solid $color-sky-200;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.375rem;
  font-family: inherit;
  font-size: $text-size-base;
  background-color: transparent;
  color: $color-sky-900;

  &:focus {
    outline: 2px solid $color-active;
    outline-offset: -1px;
  }
}

.Error {
  font-size: $text-size-base;
  line-height: $text-size-base * 1.5;
  color: $color-error;
}

.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $text-size-base * 1.5;
  padding: 0 0.875rem;
  margin: 0;
  outline: 0;
  border: 1px solid $color-sky-200;
  border-radius: 0.375rem;
  background-color: $color-sky-50;
  font-family: inherit;
  font-size: $text-size-base;
  font-weight: 500;
  line-height: $text-size-base * 1.5;
  color: $color-sky-900;
  user-select: none;

  @media (hover: hover) {
    &:hover:not([data-disabled]) {
      background-color: $color-sky-100;
    }
  }

  &:active:not([data-disabled]) {
    background-color: $color-sky-200;
    box-shadow: inset 0 1px 3px $color-sky-200;
    border-top-color: $color-sky-300;
  }

  &:focus-visible {
    outline: 2px solid $color-active;
    outline-offset: -1px;
  }

  &[data-disabled] {
    color: $color-sky-500;
  }
}

.logout {
  margin-top: 10px;
}
