.tab_bar {
  height: 55px;
  padding-inline: 10px;

  background-color: $color-background;
  box-shadow: $background-shadow;
  border-radius: $radius-full;

  display: flex;
  align-items: center;
  justify-content: space-between;

  $offset: 20px;
  position: fixed;
  bottom: $offset;
  left: $offset;
  right: $offset;
  z-index: 10;

  a {
    all: unset;

    $size: 30px;
    height: $size;
    width: $size + 10px;
    padding: 5px;

    border-radius: $radius-full;
    background-color: $color-background;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: box-shadow $transition-default;
    -webkit-tap-highlight-color: transparent;

    & > svg {
      height: $size;
      width: $size;
      color: $color-text;
    }

    &[data-selected='true'] {
      box-shadow: $background-shadow;
    }

    &.sensing {
      $size: 56px;
      height: $size;
      width: $size;
      border-radius: $radius-full;

      background-color: $color-primary;
      box-shadow: $background-shadow;

      position: relative;
      transition: fill $transition-default, rotate 0.3s ease;

      & > svg {
        color: $color-on-primary;
      }

      &[data-selected='true'] {
        & > svg {
          fill: $color-on-primary;
        }
      }

      &[data-state='running']::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
        border-radius: 50%;
        z-index: -1;
        animation: pulse-out 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
      }

      &[data-state='paused'] {
        rotate: 90deg;
      }
    }
  }
}

@keyframes pulse-out {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
