.tab_bar {
  height: 55px;
  padding-inline: 10px;
 
  background-color: $color-background;
  box-shadow: $background-shadow;
  border-radius: $radius-full;

  display: flex;
  align-items: center;
  justify-content: space-between;

  $offset: 20px;
  position: fixed;
  bottom: $offset;
  left: $offset;
  right: $offset;

  a {
    all: unset;

    $size: 30px;
    height: $size;
    width: $size + 10px;
    padding: 5px;

    border-radius: $radius-full;
    background-color: $color-background;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: box-shadow $transition-default;
    -webkit-tap-highlight-color: transparent;

    & > svg {
      height: $size;
      width: $size;
      color: $color-text;
    }

    &[data-selected='true'] {
      box-shadow: $background-shadow;
    }

    &.sensing {
      $size: 56px;
      height: $size;
      width: $size;
      border-radius: $radius-full;

      background-color: $color-primary;
      box-shadow: $background-shadow;

      transition: fill $transition-default;

      & > svg {
        color: $color-on-primary;
      }

      &[data-selected='true'] {
        & > svg {
          fill: $color-on-primary;
        }
      }
    }
  }
}
