* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-text;
  background-color: $color-sky-100;

  & > div {
    & > header {
      height: calc(50px + env(safe-area-inset-top)); // ステータスバーの高さを考慮
    }

    & > main {
      padding: 40px 25px;
    }
  }
}

a {
  color: $color-text;
  text-decoration: none;
}
