.sensor_names {
  height: $text-size-base * 2;
  padding: 5px 10px;

  color: $color-text;
  background-color: $color-background;

  font-size: $text-size-base;
  border-radius: $radius-md;
  overflow: scroll hidden;

  .sensor_names_inner {
    width: fit-content;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    .sensor_name {
      all: unset;

      padding-inline: 10px;
      position: relative;
      font-weight: $text-weight-normal;
      font-variation-settings: 'wght' $text-weight-normal;

      &:disabled {
        font-weight: $text-weight-medium;
        font-variation-settings: 'wght' $text-weight-medium;
      }

      &:not(:last-child)::after {
        content: '';

        border-right: 1px solid $color-primary;

        position: absolute;
        top: 10%;
        bottom: 10%;
        right: 0;
      }
    }
  }
}
