.header {
  padding-inline: 20px;
  padding-top: env(safe-area-inset-top); // ステータスバーの高さを考慮

  background-color: $color-background;
  box-shadow: $background-shadow;

  display: flex;
  align-items: center;

  position: sticky;
  top: 0;

  h1 {
    font-size: $text-size-lg;
    font-weight: $text-weight-bold;
  }
}
