.trigger {
  width: 100%;

  color: $color-on-danger;
  background-color: $color-danger;
  font-size: $text-size-base;
  font-weight: $text-weight-medium;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: $radius-md;
  border: none;

  .icon {
    $size: 30px;
    width: $size;
    height: $size;

    font-size: $text-size-lg;
    line-height: $text-size-lg * 2.5;
  }
}

.error {
  padding: 5px 0;

  color: $color-error;
  font-size: $text-size-sm;
}
