.sensing_config {
  .setting_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .reset_button {
      all: unset;
      font-size: 30px;
      color: $color-text;

      &:disabled {
        color: $color-disabled;
      }
    }
  }

  .line {
    height: 1px;
    background-color: $color-primary;
  }
}
