.Accordion {
  width: 100%;

  color: $color-text;

  display: grid;
  gap: 10px;
  grid-template-columns: 100%;
}

.Item {
  width: 100%;

  .Header {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr auto;
    align-items: center;

    .HeaderContent {
      padding-left: 15px;
    }

    .Trigger {
      width: 100%;
      padding: 10px 15px;

      font-size: $text-size-base;
      font-weight: $text-weight-bold;
      background: $color-background;
      border-radius: $radius-md;
      border: none;

      &:focus-visible {
        outline: 2px solid $color-active;
        z-index: 1;
      }

      .TriggerIcon {
        flex-shrink: 0;

        $size: 30px;
        width: $size;
        height: $size;

        transition: rotate 0.5s ease;
      }

      &[data-panel-open] .TriggerIcon {
        rotate: -180deg;
      }
    }
  }

  .Panel {
    width: 100%;
    padding: 10px 0 10px 15px;

    color: $color-sky-600;

    display: grid;
    gap: 10px;
    grid-template-columns: 100%;

    overflow: hidden;
    transition: height 150ms ease-out;

    &:empty {
      padding: 0;
    }
  }
}

.HeaderWrapper {
  border-radius: $radius-md;
  background-color: $color-danger;

  overflow: hidden;
  position: relative;
}

.DeleteAction {
  width: 60px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-background;
  color: $color-black;
}

.HeaderMotion {
  border-radius: $radius-md;
  background-color: $color-background;
  touch-action: pan-y;
  position: relative;
  z-index: 1;
}
